$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "styles/utility";

.person-list-container {
    padding-top: 100px;
}
.person {
    height: 200px;
    padding: 1rem;
    background: white;
    transition: background 0.25s ease-out;

    &:hover {
        background: lighten(#88c5ff, 10%);
    }
}

